[submodule "packages/darkfactory"]
	path = packages/darkfactory
	url = https://github.com/marius-patrik/agent-darkfactory.git
	branch = main
[submodule "packages/life-support"]
	path = packages/life-support
	url = https://github.com/marius-patrik/life-support.git
	branch = main
[submodule "packages/singularity"]
	path = packages/singularity
	url = https://github.com/marius-patrik/singularity.git
	branch = main
[submodule "packages/skyblock-agent"]
	path = packages/skyblock-agent
	url = https://github.com/marius-patrik/skyblock-agent.git
	branch = main
[submodule "data"]
	path = data/agent-os
	url = https://github.com/marius-patrik/agents-data.git
	branch = main
