[submodule "clis/andromeda"]
	path = clis/andromeda
	url = https://github.com/marius-patrik/andromeda.git
	branch = main
[submodule "cli"]
	path = cli
	url = https://github.com/marius-patrik/agents-cli.git
	branch = main
[submodule "agents/personal-assistant"]
	path = agents/personal-assistant
	url = https://github.com/marius-patrik/personal-assistant.git
	branch = main
[submodule "agents/skye"]
	path = agents/skye
	url = https://github.com/marius-patrik/skye.git
	branch = main
[submodule "agents/vibe-bot"]
	path = agents/vibe-bot
	url = https://github.com/marius-patrik/vibe-bot.git
	branch = main
[submodule "plugins/context-engine"]
	path = plugins/context-engine
	url = https://github.com/marius-patrik/memory-plugin.git
	branch = master
[submodule "private"]
	path = private
	url = https://github.com/marius-patrik/private.git
	branch = main
[submodule "agents/rommie"]
	path = agents/rommie
	url = https://github.com/marius-patrik/rommie.git
	branch = main
